* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header-section ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin-left: 32px;
}

.header-section a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf9;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.placeholder {
    color: #e5e7eb;
    background-color: gray;
    width: 600px;
    flex-grow: 1;
}

